<div class="fg-field-inner form-group" ng-class="{ 'fg-field-required': fieldSchema.validation.required, 'has-error': form.state[field.type].$invalid }">
	<label ng-if="!field.schema.nolabel" class="col-md-4 control-label no-padding" for="{{ field.$_id }}"><p style="word-wrap: break-word">{{ fieldSchema.displayName }}</p></label>
	<div class="col-md-8 no-padding-left" ng-class="{ 'col-sm-offset-2': field.schema.nolabel}">    <div ng-include="renderInfo.templateUrl"></div>
		<div fg-validation-summary fg-validation-messages="fieldSchema.validation.messages" ng-if="!noValidationSummary"></div>
	</div>
</div>