<div class="fg-edit-palette">
  <fieldset>
    <div fg-edit-palette-categories data-category="selectedCategory"></div>
    <accordion close-others="accordion.oneAtATime">
      <accordion-group is-open="model.ifNewFieldOpen">
        <accordion-heading>{{editFieldFlag ? "Edit Field": "Add New Field"}}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div id="fieldType" class="row">
          <div class='col-sm-12 margin-top-5'>
            <div class="col-sm-5">
              <h5>Field Type</h5>
            </div>
            <div class="col-sm-7">
              <select class="form-control" ng-model="selected" ng-change="changedFieldValue(selected)">
                <option ng-repeat="template in allTemplates | filter:allTemplateFilter" class="fg-field">
                  <span>{{template.displayName}}</span>
                  <div fg-field="template" fg-tab-index="3" fg-no-validation-summary="true" fg-edit-mode="true"></div>
                </option>
              </select>
            </div>
          </div>
          <div class='row'>
            <hr class='m5 col-xs-12'>
          </div>
          <div class="col-sm-12" ng-show="populate_template">
            <div fg-edit-canvas-field-properties="template"></div>
            <div class="row">
              <div fg-property-field="fieldGroup" fg-property-field-label="Field group" style="padding: 0px 20px;">
                <div class='row'>
                  <div class='col-md-9' style="padding-right: 0px;">
                    <select class="form-control" ng-model="selectedGroup" ng-options="group.fieldGroupId as group.fieldGroupName for group in groups"></select>
                  </div>
                  <div class='col-md-3' style="padding-left: 15px;">
                    <button class='btn btn-primary btn-sm' ng-click='openCreateGroupModal()' style="height: 33px;">
                      <i class='fa fa-plus'></i>
                    </button>
                  </div>
                </div>
                <div class="col-sm-12" style="padding: 8px 10px 8px 0px;">
                  <div class="col-sm-3" style="margin-right: 10px; padding: 0px 0px;">
                    <a ng-click="associateField(template, selectedGroup)" class="btn btn-primary btn-sm margin-top-2"> <i
                            class="fa fa-plus normal"></i> OK
                      </a>
                  </div>
                  <div class="col-sm-8" style="padding: 0px 0px;">
                    <a ng-click="resetField()" class="btn btn-danger btn-sm margin-top-2">
                        <i class="fa fa-times normal"></i> Cancel
                      </a>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div ng-class="{ 'fg-drag-placeholder-visible' : dragPlaceholder.visible && dragPlaceholder.index === $index }" class="fg-drag-placeholder"></div>
      </accordion-group>
    </accordion>
    <accordion close-others="accordion.oneAtATime">
      <accordion-group class="field-pallette-accordian" data-toggle="collapse" data-target="#collapse{{group.fieldGroupName}}"
      ng-repeat="group in groups">
        <accordion-heading>{{group.fieldGroupName}}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div id="collapse{{group.name}}">
          <div ng-repeat="template in group.associatedFields" class="fg-field" dq-draggable="fg-edit-canvas" dq-drag-begin="{ source: 'palette', field: template }"
          style="width:100%;background-color: #FD9753;border-color: #FB6705;text-align: left;font-weight: bold;font-size: 12px;border-radius: 0px; margin-bottom: 0px;">
            <div class="fg-field-overlay">
              <div class="btn-toolbar btn-toolbar-right">
                <button class="btn btn-default btn-xs btn-primary" type="button" ng-click="schemaCtrl.addField(template)" title="Add this field to Form.">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default btn-xs btn-primary" type="button" ng-click="editField(group.fieldGroupId, template)" title="Edit this field.">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </div>
            </div>
            <div fg-field="template" fg-tab-index="-1" fg-no-validation-summary="true" fg-edit-mode="true"></div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </fieldset>
  </div>