<div class="fg-field-properties" style="margin-bottom: 0px; border: none;">
  <div novalidate ng-form="fieldPropertiesForm">
    <div fg-tabs="property.tabs">
      <div ng-include="renderInfo.propertiesTemplateUrl"></div>
     <!--  <div fg-tabs-pane="Debug" order="1000" auto-active="false">
        <div data-jsonify="field"></div>
      </div> -->
      <div fg-tabs-pane="Properties">
		  <div
		      fg-property-field-common="{ fieldname: true, displayname: true, placeholder: true, tooltip: true }">
		  </div>
		  <!-- <div
		      fg-property-field-common="{ displayname: true, placeholder: true, tooltip: true }"></div> -->
		 <!--  <div fg-property-field-value>
		    <input type="text" name="fieldValue"
		              class="form-control"
		              ng-model="field.value"
		              ng-minlength="{{ field.validation.minlength }}"
		              ng-maxlength="{{ field.validation.maxlength }}"
		              ng-pattern="{{ field.validation.pattern }}" />
		  </div> -->

		<!--   <div ng-if="field.type==='date' ">
               <div fg-property-field="fieldDateValue" fg-property-field-label="Date">
                 	<input type="date" class="form-control"
                         name="fieldDateValue" ng-model="field.date"ng-min="{{ field.validation.startDate }}"
                         ng-max="{{ field.validation.endDate }}"/>
                </div>
           </div> -->
   		</div>

   		<div fg-tabs-pane="Options">
  			<div fg-property-field-options></div>
		</div>
   		
   		 <div fg-tabs-pane="Validation">
			  <div fg-property-field-validation="{ required: true, minlength: true, maxlength: true, pattern: true }"></div>
			</div>
		</div> 

		
  </div>
</div>